.color-primary{
    color:$color-primary;
}
.color-primary-bg{
    background:$color-primary;
}
.color-second{
    color:$color-secondary;
}
.color-second-bg{
    background-color:$color-secondary;
}
.color-tirnary{
    color: $color-tirnary;
}
.color-tirnary-bg{
    background:$color-tirnary ;
}

